/*ESERCIZIO 1*/

.ex-1-square:hover{
    background-color: red;
    transition: 0.8s;
}

/*ESERCIZIO 2*/

.ex-2-square:active {
    width: 100%;
    transition: 2s;
}

/*ESERCIZIO 3*/

.ex-3-square:hover {
    border-radius: 100%;
    transition: 2s;
}

/*ESERCIZIO 4*/

.ex-4-square {
    animation:  ex-4-square 5s ;
}

@keyframes ex-4-square {
    0% {opacity: 100%;}
    50% {opacity: 50%;} 
    100% {opacity: 0%;}  
}

/*ESERCIZIO 5*/

.ex-5-square:hover {
    scale: 1.5;
}

.ex-5-square:active {
    scale: 0.5;
}

/*ESERCIZIO 6*/

.ex-6-img:hover{
    filter: grayscale(1);
}

/*ESERCIZIO 7*/

.ex-7-img:hover{
    filter: grayscale(1);
    transition: 1.5s;
}

/*ESERCIZIO 8*/

.ex-8-img{
    animation:  ex-8-img 5s infinite;
}


@keyframes ex-8-img {
    0% {filter: grayscale(0); filter: blur(0); border-radius: 0;}
    50% {filter: grayscale(0.5); filter: blur(1px);border-radius: 10%;} 
    100% {filter: grayscale(1); filter: blur(2px);border-radius: 20%;}  
}

/*ESERCIZIO 9*/

.ex-9-img{
    animation:  ex-9-img 5s infinite;
}


@keyframes ex-9-img {
    0% {filter: grayscale(0); filter: blur(0); border-radius: 0; scale: 1;}
    100% {filter: grayscale(1); filter: blur(2px);border-radius: 20%; scale: 1.4;}  
}

/*ESERCIZIO 10*/

.ex-10-icon{
    animation: ex-10-icon 1s infinite linear;
}

@keyframes ex-10-icon {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/*ESERCIZIO 11*/

.ex-11-icon:hover{
    animation: ex-11-icon 1s  linear;
}

@keyframes ex-11-icon {
    0% {transform:rotate(0deg);}
    85% {transform:rotate(270deg);}
    100% {transform:rotate(0deg);}
}

/*ESERCIZIO 12*/

.ex-12-top-white {
    animation: ex-12-top-white 2s infinite linear;
}

.ex-12-bottom-white {
    animation: ex-12-bottom-white 2s infinite linear;
}


@keyframes ex-12-top-white {
    0% {left: 10%;}
    50% {left: 60%;}
    100% {left: 10%;}
}

@keyframes ex-12-bottom-white {
    0% {right: 10%;}
    50% {right: 60%;}
    100% {right: 10%;}
}

/*ESERCIZIO 12*/

.ex-13-top-white {
    animation: ex-13-top-white infinite 2s linear;
}

.ex-13-bottom-white {
    animation: ex-13-bottom-white infinite 2s linear;
}


@keyframes ex-13-top-white {
    0% {top:-10px; left: 10%;}
    50% {top:-10px; left: 90%;}
    70% {left: 90%; top: 54px;}
    100% {top: 54px; left:50%;}
}

@keyframes ex-13-bottom-white {
    0% {bottom:-10px; right: 20%;}
    50% {bottom:-10px; right: 90%;}
    70% {right: 90%; bottom: 54px;}
    100% {bottom: 54px; right:60%;}
}


