/*ESERCIZIO 1*/

.ex-1-square:hover{
    background-color: red;
    transition: 0.8s;
}

/*ESERCIZIO 2*/

.ex-2-square:active {
    width: 100%;
    transition: 2s;
}

/*ESERCIZIO 3*/

.ex-3-square:hover {
    border-radius: 100%;
    transition: 2s;
}

/*ESERCIZIO 4*/

.ex-4-square {
    animation:  ex-4-square 5s ;
}

@keyframes ex-4-square {
    0% {opacity: 100%;}
    50% {opacity: 50%;} 
    100% {opacity: 0%;}  
}

/*ESERCIZIO 5*/

.ex-5-square:hover {
    scale: 1.5;
}

.ex-5-square:active {
    scale: 0.5;
}

/*ESERCIZIO 6*/

.ex-6-img:hover{
    filter: grayscale(1);
    transition: 1.5s;
}